@tailwind base;
@tailwind components;
@tailwind utilities;

/* .emoji-picker-react {
  overflow: none !important;
} */

.emoji-picker-react {
  border-radius: 13px !important;
  box-shadow: none !important;
}
